In [ ]:
import pandas as pd

In [ ]:
#1

df = pd.read_csv('ratings.csv')

In [ ]:
df.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [ ]:
def rating(column):
  if column <= 2: 
    r = "низкий рейтинг"
  elif column <= 4:
    r = "средний рейтинг"
  else:
    r = "высокий рейтинг"

  return r

In [ ]:
df['class'] = df['rating'].apply(rating)
df

        userId  movieId  rating   timestamp            class
0            1       31     2.5  1260759144  средний рейтинг
1            1     1029     3.0  1260759179  средний рейтинг
2            1     1061     3.0  1260759182  средний рейтинг
3            1     1129     2.0  1260759185   низкий рейтинг
4            1     1172     4.0  1260759205  средний рейтинг
...        ...      ...     ...         ...              ...
99999      671     6268     2.5  1065579370  средний рейтинг
100000     671     6269     4.0  1065149201  средний рейтинг
100001     671     6365     4.0  1070940363  средний рейтинг
100002     671     6385     2.5  1070979663  средний рейтинг
100003     671     6565     3.5  1074784724  средний рейтинг

[100004 rows x 5 columns]

In [ ]:
#2

In [ ]:
df_key = pd.read_csv('keywords.csv')
df_key.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [ ]:
geo_data = {
  'Центр': ['москва', 'тула', 'ярославль'],
  'Северо-Запад': ['петербург', 'псков', 'мурманск'],
  'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
  }

In [ ]:
def geo_class(row):

  row['region'] = 'undefined'#изначально строка region со значением 'undefined'
  
  for key,value in geo_data.items():#цикл разбор словаря на ключи и значения
    for city in value:#цикл список на значения
      if city in row['keyword']:#проверка на вхождение частей списка в колонку кейворд
        row['region'] = key#когда вхождение тру, то происходит перезапись значения 'region' на ключ словаря
      else:
        pass#если вхождения нет, то ничего не происходит
  
  return row#функция должна вернуть всю строку целиком

In [ ]:
df_updated = df_key.apply(geo_class, axis = 1)#функция применяется ко всей строке датафрейма целиком, значение параметра ось = 1. Что-то в районе 1 мин код обрабатывал 100К строк

In [ ]:
df_updated[df_updated.region != 'undefined']

                                     keyword   shows          region
127                             авито москва  979292           Центр
370                 авито ру санкт петербург  425134    Северо-Запад
564                погода в санкт петербурге  292489    Северо-Запад
849                          авито ярославль  209581           Центр
1063                     фарпост владивосток  176951  Дальний Восток
...                                      ...     ...             ...
99590  авито ярославль автомобили с пробегом    3673           Центр
99634   северпост новости мурманской области    3606    Северо-Запад
99808      полармед мурманск запись на прием    3719    Северо-Запад
99890                    яндекс метро москва    4548           Центр
99922                      авто ру ярославль    3712           Центр

[747 rows x 3 columns]

In [ ]:
#3

In [ ]:
year = list(range(1950,2011))

In [ ]:
df_ratings = pd.read_csv('ratings.csv')
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  int64
 1   movieId    100004 non-null  int64
 2   rating     100004 non-null  float64
 3   timestamp  100004 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [ ]:
df_movies = pd.read_csv('movies.csv')
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9125 non-null   int64
 1   title    9125 non-null   object
 2   genres   9125 non-null   object
dtypes: int64(1), object(2)
memory usage: 214.0+ KB

In [ ]:
def production_year(row):

  row['prod_year'] = 1900

  for y in year:
    if str(y) in row['title']:
       row['prod_year'] = y
    else:
      pass
  return row

In [ ]:
df_year = df_movies.apply(production_year, axis = 1)
df_year.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   movieId    9125 non-null   int64
 1   title      9125 non-null   object
 2   genres     9125 non-null   object
 3   prod_year  9125 non-null   int64
dtypes: int64(2), object(2)
memory usage: 285.3+ KB

In [ ]:
df_merged = df_ratings.merge(df_year, left_on='movieId', right_on='movieId')
df_merged.head()

,userId,movieId,rating,timestamp,title,genres,prod_year
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,1995
1,7,31,3.0,851868750,Dangerous Minds (1995),Drama,1995
2,31,31,4.0,1273541953,Dangerous Minds (1995),Drama,1995
3,32,31,4.0,834828440,Dangerous Minds (1995),Drama,1995
4,36,31,3.0,847057202,Dangerous Minds (1995),Drama,1995

In [ ]:
df_merged.groupby('prod_year').agg({'rating':'mean'}).sort_values('rating',ascending=False)

             rating
prod_year
1957       4.014241
1972       4.011136
1952       4.000000
1974       3.999058
1954       3.994220
...             ...
2005       3.448434
2003       3.444777
1996       3.426600
1997       3.415764
2000       3.353444

[62 rows x 1 columns]